<script type="text/x-handlebars" data-template-name="components/image-upload">
    {{img-upload file=imageObject action="triggerUpload"}}
    <div class="ui top attached successful progress">
        <div class="bar" {{bind-attr style=barWidth}}></div>
    </div>
    <div class="ui list large attached">
        <div class="item">
            <div class="right floated tiny teal ui button" {{action 'chooseImage'}}><i class="file icon"></i>选择</div>
            {{#if imageObject}}
                <div class="right floated tiny red ui button" {{action 'upload' imageObject}}><i
                        class="cloud upload icon"></i>{{uploadStatus}}</div>
                {{img-preview file=imageObject class="avatar"}}
            {{else}}
                {{#if imageUrl}}
                    <img class="ui image avatar" {{bind-attr src=imageUrl}}>
                {{else}}
                    <i class="icon photo"></i>
                {{/if}}
            {{/if}}
            <div class="content">
                {{#if imageObject}}
                    <div class="header">{{imageObject.name}}</div>
                {{else}}
                    {{#if imageUrl}}
                        <div class="header">来自数据库</div>
                    {{else}}
                        <div class="header">您还未选择任何照片</div>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="components/zero-clipboard">
    <div {{bind-attr data-clipboard-text=text class=":ui :button btn-class"}}><i class="url icon"></i>复制</div>
</script>


<script type="text/x-handlebars" data-template-name="components/images-list">
    <div class="ui top attached successful progress">
        <div class="bar" {{bind-attr style=barWidth}}></div>
    </div>
    <div class="item ui attached">
        {{img-preview file=image class="medium"}}
        <div {{bind-attr class=":ui :tiny :button :red :floated :right isUploading:disabled"}}
            {{action 'upload' image}}><i class="icon cloud upload"></i>{{uploadStatus}}</div>
        {{#if imageUrl}}
            {{zero-clipboard text=imageUrl btn-class="tiny green floated right"}}
        {{/if}}

        {{#if imageUrl}}
            {{#if isSet}}
                <div {{bind-attr class=":ui :button :tiny :blue"}} {{action 'removeFromProduct'}}><i
                        class="copy icon"></i>删除
                </div>
            {{else}}
                <div {{bind-attr class=":ui :button :tiny :blue"}} {{action 'addToProduct'}}><i
                        class="copy icon"></i>添加
                </div>
            {{/if}}
        {{/if}}
    </div>
</script>


<script type="text/x-handlebars" data-template-name="components/form-field">
    <div {{bind-attr class="displayError:error :field"}}>
        <label>{{label}}</label>

        <div class="ui left icon input">
            {{form-input type="text" placeholder=placeholder value=value displayError=displayError regex=regex error=error}}
            <i {{bind-attr class="icon :icon"}}></i>

        </div>
        {{#if displayError}}
            <div class="ui red pointing above label">{{errorMessage}}</div>
        {{/if}}
    </div>
</script>


<script type="text/x-handlebars" data-template-name="components/tags-add">
    <div class="field">
        <label>标签</label>

        <div class="ui segment tag-input">
            {{#each tags}}
                <div class="ui label">
                    {{name}}
                    <i class="delete icon"  {{action 'removeTag' this}}></i>
                </div>
            {{/each}}
            {{input type="text" action="addTag" value=tagValue placeholder="请填写标签"}}
        </div>
    </div>
</script>


<script type="text/x-handlebars" data-template-name="components/product-add-modal">
    <div class="ui modal" id="product">
        <i class="close icon"></i>

        <div class="header">
            添加产品
        </div>
        <div class="content">
            <div class="ui form">
                <div class="three fields">
                    {{form-field label="品牌名称" placeholder="品牌名称" value=brand errorMessage="品牌不能为空"
                    icon="reorder" error=brandError}}
                    {{form-field label="型号" placeholder="型号" value=pattern errorMessage="型号不能为空"
                    icon="reorder" error=patternError}}
                    {{form-field label="价格" placeholder="价格" value=price regex="^[1-9]\d*\.\d{2}$"
                    errorMessage="价格不能为空, 两位小数" icon="yen" error=priceError}}
                </div>
                <div class="three fields">
                    {{form-field label="货期" placeholder="货期天数" value=deadline regex="^[1-9]\d*$"
                    errorMessage="货期不能为空，数字，单位是天" icon="reorder" error=deadlineError}}
                    {{form-field label="库存数量" placeholder="库存数量" value=sku regex="^[0-9]\d*$"
                    errorMessage="库存数量不能为空，数字" icon="reorder" error=skuError}}
                    <div class="field">
                        <label>库存单位</label>

                        <div class="ui fluid selection dropdown">
                            <div class="text">选择</div>
                            <i class="dropdown icon"></i>
                            {{input type="hidden" value=unit}}
                            <div class="menu">
                                <div class="item" data-value="只">只</div>
                                <div class="item" data-value="米">米</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui button negative">取消</div>
            {{#if formError}}
                <div class="ui left icon button disabled">
                    <i class="icon checkmark"></i>确认添加
                </div>
            {{else}}
                <div class="ui positive left icon button" {{action 'addProduct'}}>
                    <i class="icon checkmark"></i>确认添加
                </div>
            {{/if}}

        </div>
    </div>
</script>


<script type="text/x-handlebars" data-template-name="components/product-unit-dropdown">
    <div class="ui fluid selection dropdown">
        <div class="text">选择</div>
        <i class="dropdown icon"></i>
        {{input type="hidden" value=unit classNames="ui product input"}}
        <div class="menu">
            <div class="item" data-value="只">只</div>
            <div class="item" data-value="米">米</div>
        </div>
    </div>
</script>


<script type="text/x-handlebars" data-template-name="components/product-search">
    <div class="ui form">
        <div class="field">
            <label>产品</label>
            <div class="field">
                <div class="ui left icon input">
                    {{input type="text" placeholder="搜索..." value=search action="pushToList"}}
                    <i class="icon search"></i>
                </div>
            </div>
        </div>
    </div>
    {{#if filtered.length}}
    <table class="ui table seven column">
        <thead>
        <tr>
            <th>ID</th>
            <th>品牌</th>
            <th>型号</th>
            <th>价格</th>
            <th>货期(天)</th>
            <th>库存</th>
            <th>单位</th>
        </tr>
        </thead>
        <tbody>
        {{#each filtered}}
            <tr {{bind-attr class="active :mouse"}} {{action 'pushSelected' this}}>
                <td>{{id}}</td>
                <td>{{brand}}</td>
                <td>{{pattern}}</td>
                <td>{{price}}</td>
                <td>{{deadline}}</td>
                <td>{{sku}}</td>
                <td>{{unit}}</td>
            </tr>
        {{/each}}
        </tbody>
        <tfoot></tfoot>
    </table>
    {{/if}}
</script>


<script type="text/x-handlebars" data-template-name="components/contract-info-add-modal">
    <div class="ui modal" id="contractInfo">
        <i class="close icon"></i>

        <div class="header">
            添加信息
        </div>
        <div class="content">
            <div class="ui form">
                <div class="field">
                    <label>公司</label>
                    <div class="ui left icon input">
                        {{input type="text" placeholder="公司名称" value=company}}
                        <i class="icon building"></i>
                    </div>
                </div>
                <div class="field">
                    <label>地址</label>
                    <div class="ui left icon input">
                        {{input type="text" placeholder="地址" value=address}}
                        <i class="icon map marker"></i>
                    </div>
                </div>
                <div class="field">
                    <label>开户行</label>
                    <div class="ui left icon input">
                        {{input type="text" placeholder="开户行" value=bank}}
                        <i class="icon money"></i>
                    </div>
                </div>
                <div class="field">
                    <label>帐号</label>
                    <div class="ui left icon input">
                        {{input type="text" placeholder="帐号" value=bankAccount}}
                        <i class="icon payment"></i>
                    </div>
                </div>
                <div class="field">
                    <label>税号</label>
                    <div class="ui left icon input">
                        {{input type="text" placeholder="税号" value=tax}}
                        <i class="icon payment"></i>
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        <label>法人</label>
                        <div class="ui left icon input">
                            {{input type="text" placeholder="法人" value=legalPerson}}
                            <i class="icon user"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>电话</label>
                        <div class="ui left icon input">
                            {{input type="text" placeholder="电话" value=phone}}
                            <i class="icon phone"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>法人</label>
                        <div class="ui left icon input">
                            {{input type="text" placeholder="传真" value=fax}}
                            <i class="icon phone"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui button negative">取消</div>
            <div class="ui button positive" {{action 'addContractInfo'}}>确认</div>
        </div>
    </div>
</script>


<script type="text/x-handlebars" data-template-name="components/client-search">
    <div class="ui form">
        <div class="field">
            <label>客户</label>
            <div class="field">
                <div class="ui left icon input">
                    {{input type="text" placeholder="搜索..." value=search action="pushToList"}}
                    <i class="icon search"></i>
                </div>
            </div>
        </div>
    </div>
    {{#if filtered.length}}
    <table class="ui table three column">
        <thead>
        <tr>
            <th>ID</th>
            <th>客户</th>
            <th>手机</th>
        </tr>
        </thead>
        <tbody>
        {{#each filtered}}
            <tr {{bind-attr class="active :mouse"}} {{action 'pushSelected' this}}>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{mobile}}</td>
            </tr>
        {{/each}}
        </tbody>
        <tfoot></tfoot>
    </table>
    {{/if}}
</script>