<script type="text/x-handlebars" data-template-name="orders/new">
    <h2 class="ui header">
        <i class="pencil icon"></i>

        <div class="content">
            订单管理
            <div class="sub header">开单</div>
        </div>
    </h2>
    {{product-search products=products addOrder="addOrder"}}


    <table class="ui table eight column">
        <thead>
        <tr>
            <th>ID</th>
            <th>品牌</th>
            <th>型号</th>
            <th>单价</th>
            <th>单位</th>
            <th>数量</th>
            <th>税率%</th>
            <th>价格</th>
        </tr>
        </thead>
        <tbody>
        {{#each orderList}}
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.brand}}</td>
                <td>{{product.pattern}}</td>
                <td>
                    <div class="ui product input">{{input type="text" value=unitPrice}}</div>
                </td>
                <td>{{product.unit}}</td>
                <td>
                    <div class="ui product input">{{input type="text" value=amount}}</div>
                </td>
                <td>
                    <div class="ui product input">{{input type="text" value=tax}}</div>
                </td>
                <td>
                    <div class="ui product input">{{input type="text" value=price}}</div>
                </td>
            </tr>
        {{/each}}
        </tbody>
        <tfoot></tfoot>
    </table>
    <br/>

    {{client-search clients=clients setClient="setClient"}}
    {{#if client}}
        <div class="ui segment">
            <div class="ui grid two column stackable">
                <div class="column">
                    <div class="ui small feed">
                        <h4 class="ui header">客户</h4>

                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    ID
                                </div>
                                <div class="extra text">
                                    {{client.id}}
                                </div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    称呼
                                </div>
                                <div class="extra text">
                                    {{client.name}}
                                </div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    手机
                                </div>
                                <div class="extra text">
                                    {{client.mobile}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui small feed">
                        <h4 class="ui header">合同信息</h4>
                        {{#each client.contractInfos}}
                            <div class="event">
                                <div class="content">
                                    <div class="date ui button tiny basic" {{action 'setContractInfo' this}}>
                                        选定
                                    </div>
                                    <div class="summary">
                                        公司
                                    </div>
                                    <div class="extra text">
                                        {{company}}
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <div class="ui small feed">
                        <h4 class="ui header">送货地址</h4>
                        {{#each client.deliveryAddresses}}
                            <div class="event">
                                <div class="content">
                                    <div class="date ui button tiny basic" {{action 'setDeliveryAddress' this}}>
                                        选定
                                    </div>
                                    <div class="summary">
                                        地址
                                    </div>
                                    <div class="extra text">
                                        {{address}}
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="ui small feed segment">
            <h4 class="ui header">合同</h4>
            <div class="event">
                <div class="content">
                    <div class="summary">
                        公司名称
                    </div>
                    <div class="extra text">
                        {{contractInfo.company}}
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="content">
                    <div class="summary">
                        地址
                    </div>
                    <div class="extra text">
                        {{contractInfo.address}}
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="content">
                    <div class="summary">
                        开户行
                    </div>
                    <div class="extra text">
                        {{contractInfo.bank}}
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="content">
                    <div class="summary">
                        帐号
                    </div>
                    <div class="extra text">
                        {{contractInfo.bankAccount}}
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="content">
                    <div class="summary">
                        税号
                    </div>
                    <div class="extra text">
                        {{contractInfo.tax}}
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="content">
                    <div class="summary">
                        法人
                    </div>
                    <div class="extra text">
                        {{contractInfo.legalPerson}}
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="content">
                    <div class="summary">
                        电话
                    </div>
                    <div class="extra text">
                        {{contractInfo.phone}}
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="content">
                    <div class="summary">
                        传真
                    </div>
                    <div class="extra text">
                        {{contractInfo.fax}}
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="content">
                    <div class="summary">
                        送货地址
                    </div>
                    <div class="extra text">
                        {{deliveryAddress.address}}
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
    <div class="ui form">
        <div class="field">
            <label>备注</label>
            {{textarea value=memo}}
        </div>
        <div {{bind-attr class="error:disabled :ui :blue :button"}}
            {{action 'previewOrder'}}>
            <i class="icon right"></i>预览订单
        </div>
    </div>



</script>