<script type="text/x-handlebars" data-template-name="products/new">

    {{product-add-modal addProduct="confirmAddProduct"}}


    <h2 class="ui header">
        <i class="settings icon"></i>

        <div class="content">
            产品管理
            <div class="sub header">添加产品</div>
        </div>
    </h2>
    <div class="ui segment">
        <div {{bind-attr class="isLoading:loading :ui :form"}}>
            <div class="two fields">
                {{form-field label="品牌" placeholder="品牌名称" value=brand errorMessage="品牌不能为空" icon="bookmark"
                error=brandError}}
                {{form-field label="类目" placeholder="产品所属类目" value=category errorMessage="类目不能为空"
                icon="reorder" error=categoryError}}
            </div>

            {{tags-add tags=tags addTag="addTag" removeTag="removeTag"}}



            <div class="field">
                <label>封面</label>
                {{image-upload imageUrl=cover}}
            </div>




            <div class="ui grid three column stackable">
                {{#each products}}
                    <div class="column">
                        <div class="ui small feed segment">
                            <div class="event">
                                <div class="content">
                                    <div class="summary">
                                        ID
                                    </div>
                                    <div class="extra text">
                                        {{id}}
                                    </div>
                                </div>
                            </div>
                            <div class="event">
                                <div class="content">
                                    <div class="summary">
                                        品牌
                                    </div>
                                    <div class="extra text">
                                        <div class="ui contract-info input fluid">{{input type="text" value=brand}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="event">
                                <div class="content">
                                    <div class="summary">
                                        型号
                                    </div>
                                    <div class="extra text">
                                        <div class="ui contract-info input fluid">{{input type="text" value=pattern}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="event">
                                <div class="content">
                                    <div class="summary">
                                        价格
                                    </div>
                                    <div class="extra text">
                                        <div class="ui contract-info input fluid">{{input type="text" value=price}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="event">
                                <div class="content">
                                    <div class="summary">
                                        货期
                                    </div>
                                    <div class="extra text">
                                        <div class="ui contract-info input fluid">{{input type="text" value=deadline}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="event">
                                <div class="content">
                                    <div class="summary">
                                        库存数量
                                    </div>
                                    <div class="extra text">
                                        <div class="ui contract-info input fluid">{{input type="text" value=sku}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="event">
                                <div class="content">
                                    <div class="summary">
                                        库存单位
                                    </div>
                                    <div class="extra text">
                                        {{product-unit-dropdown unit=unit}}
                                    </div>
                                </div>
                            </div>
                            <div class="ui red button floated right"
                                {{action 'removeProduct' this}}>删除
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>

            <div class="ui basic button"
                {{action 'addProduct'}}>
                <i class="icon add"></i>添加产品
            </div>
            <br /><br />

            <div class="field">
                <label>产品手册</label>
                {{textarea value=desc}}
            </div>


            <div {{bind-attr class="error:disabled :ui :blue :button"}}
                {{action 'publishProduct'}}>
                <i class="icon location"></i>发布产品
            </div>
            {{multi-img-upload id="upload" files=files}}
            <div class="ui green button" {{action 'uploadImage'}}>
                <i class="icon photo"></i>上传图片
            </div>
            <div class="ui grid three column stackable">
                {{#each image in files}}
                    <div class="column">
                        {{images-list image=image addProductImage="addProductImage" removeProductImage="removeProductImage"}}
                    </div>
                {{/each}}
            </div>
        </div>

    </div>

</script>