<script type="text/x-handlebars" data-template-name="product/index">
    <div class="ui modal small remove">
        <i class="close icon"></i>
        <div class="header">
            删除产品
        </div>
        <div class="content text-center">
            <p>你确定永久删除这个产品吗？</p>
        </div>
        <div class="actions">
            <div class="ui button negative">取消</div>
            <div class="ui positive left labeled icon button" {{action 'confirmDelete'}}>
                <i class="icon checkmark"></i>确定</div>
        </div>
    </div>
    <div class="ui dimmer page">
        <div class="content">
            <div class="center">
                <h2 class="ui inverted icon header">
                    <i class="icon circular inverted emphasized red remove"></i>
                    删除成功
                </h2>
            </div>
        </div>
    </div>
    <h2 class="ui header">
        <i class="info icon"></i>
        <div class="content">
            产品管理
            <div class="sub header">产品详情</div>
        </div>
    </h2>
    <div class="ui steps nav small">
        {{#link-to 'products.view' class="ui step" tagName="div" activeClass="noActive"}}
            产品详情
        {{/link-to}}
        {{#link-to 'product' model class="ui step" tagName="div"}}
            产品详情
        {{/link-to}}
    </div>
    <div class="ui segment">
        <div class="ui grid stackable">
            <div class="five column wide">
                <div class="ui segment raised">
                    {{#if selected}}
                        <img class="ui medium image" {{bind-attr src=selected.image}}>
                    {{else}}
                        <img class="ui medium image" {{bind-attr src=cover}}>
                    {{/if}}
                </div>
            </div>
            <div class="eleven column wide">
                <div class="ui header huge blue">
                    {{brand}}
                    <div class="ui label black">{{category}}</div>
                    {{#if selected}}
                        <div class="sub header">价格: &yen {{price selected.price}}</div>
                    {{else}}
                        <div class="sub header">价格: &yen {{price rows.firstObject.price}} 起</div>
                    {{/if}}
                </div>

                <div class="ui divider"></div>
                <div class="ui small images">
                    {{#each rows}}
                        <img class="ui image" {{bind-attr src=image}}>
                    {{/each}}
                </div>
                {{#each row in rows}}
                    <div {{action 'select' row}} {{bind-attr class=":ui :button :basic row.selected:red"}}>{{row.spec}}</div>
                {{/each}}
            </div>
        </div>
        {{#link-to 'product.edit' class="ui button floated right basic green" tagName="div"}}
            编辑
        {{/link-to}}
        <div class="ui button floated right basic orange" {{action 'deleteProduct'}}>删除</div>
    </div>
    <div class="ui segment">
        {{{desc}}}
    </div>
</script>