<script type="text/x-handlebars" data-template-name="erp">
    <div class="ui vertical sidebar menu show-sidebar">
        <a class="item close mobile-only" {{action 'hideSideBar'}}>
            <i class="close icon"></i>关闭
        </a>
        {{#link-to 'erp' class="item" activeClass="keptrans" closeSideBar="true"}}
            <i class="home icon"></i> 凯思ERP
        {{/link-to}}

        <div class="item">
            <div class="ui input"><input placeholder="Search..." type="text"></div>
        </div>
        {{#if session.isAuthenticated}}
            <div class="item">
                你好，{{session.username}}
                <div class="menu">
                    <a class="item" {{action 'invalidateSession'}}>退出<i class="icon off"></i> </a>
                </div>
            </div>
        {{/if}}
        <div class="item">
            <i class="list icon"></i> 产品管理
            <div class="menu">
                {{#link-to 'products.new' class="item" closeSideBar="true"}}
                    添加产品
                {{/link-to}}
                {{#link-to 'products.index' class="item" closeSideBar="true"}}
                    查看产品
                {{/link-to}}
            </div>
        </div>
        <div class="item">
            <i class="list icon"></i> 订单管理
            <div class="menu">
                {{#link-to 'orders.new' class="item" closeSideBar="true"}}
                    下单
                {{/link-to}}
                {{#link-to 'orders.index' class="item" closeSideBar="true"}}
                    查看订单
                {{/link-to}}
            </div>
        </div>
        <div class="item">
            <i class="list icon"></i> 库存管理
            <div class="menu">
                <a class="item">产品入库</a>
                <a class="item">查看库存</a>
            </div>
        </div>
        <div class="item">
            <i class="list icon"></i> 客户管理
            <div class="menu">
                {{#link-to 'clients.new' class="item" closeSideBar="true"}}
                    添加客户
                {{/link-to}}
                {{#link-to 'clients.view' class="item" closeSideBar="true"}}
                    查看客户
                {{/link-to}}
            </div>
        </div>
    </div>

    <div class="ui menu mobile-nav large">
        <a class="item" {{action 'showSideBar'}}>
            <i class="icon list"></i>
        </a>
    </div>

    <div class="blank-sidebar">
        {{outlet}}
    </div>
</script>

<script type="text/x-handlebars" data-template-name="products">
    {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="product">
    {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="orders">
    {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="order">
    {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="error">
    <div class="ui page grid">
        <div class="column">
            <h1 class="ui huge center aligned icon header">
                <i class="emphasized teal attention outline icon"></i>
            </h1>
            <div class="ui inverted horizontal section divider">
                <i class="circular heart red icon"></i>
            </div>
            <h2 class="ui huge header aligned center green">404
            </h2>
            <h2 class="ui huge header aligned center">{{#link-to 'erp' tagName="div" class="ui button"}}返回首页{{/link-to}}
            </h2>

        </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="erp/loading">
    <div id="loader" class="pageload-overlay" data-opening="M20,15 50,30 50,30 30,30 Z;M0,0 80,0 50,30 20,45 Z;M0,0 80,0 60,45 0,60 Z;M0,0 80,0 80,60 0,60 Z" data-closing="M0,0 80,0 60,45 0,60 Z;M0,0 80,0 50,30 20,45 Z;M20,15 50,30 50,30 30,30 Z;M30,30 50,30 50,30 30,30 Z">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
            <path d="M30,30 50,30 50,30 30,30 Z"/>
        </svg>
    </div><!-- /pageload-overlay -->
</script>